# General Dependencies
requests
flask
gradio
streamlit
nest-asyncio
python-dotenv

tavily-python

# Image Processing
Pillow
opencv-python
opencv-python-headless

segment-anything

# YOLO
ultralytics

# Music Generation
magenta

# Text-to-Speech & Speech-to-Text
gTTS
SpeechRecognition

# Natural Language Processing
transformers
spacy

# Development
jupyter

# AI Tools
openai
anthropic
langchain
pydantic
pydantic-ai
llama-index
logfire

# huggingface
huggingface-hub

# data science
scikit-learn
scipy
numpy
pandas
matplotlib
seaborn
altair
plotly
torch
tensorflow
keras
jax

# datasets
datasets
